
.field {
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--table-color-1), var(--table-color-2), var(--table-color-3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.handAndBet {
    display: flex;
}

.dealer {
}

.players {
    display: flex;
}

