
.card {
    width: 5em;
    height: 7em;
    margin: 0.4em;
    background: var(--card);
    border-radius: 0.3em;
    border: 1px solid var(--card-border);
    box-shadow: 0.07em 0.07em 0.07em 0.07em rgba(20, 20, 20, 0.4);
}

.cardValues {
    display: flex;
    flex-direction: column;
    margin-left: 0.1em;
    max-width: 25%;
    text-align: center;
}

.diamonds, .clubs, .spades, .hearts {
    position: relative;
}

.hearts, .diamonds {
    color: var(--card-red);
}

.suits:before {
    position: absolute;
    top: -4px;
    transform: translateX(-50%);
}

.diamonds:before {
    content: "\2666";
    color: var(--card-red);
}

.clubs:before {
    content: "\2663";
}

.spades:before {
    content: "\2660";
    position: absolute;
}

.hearts:before {
    content: "\2665";
    position: absolute;
    color: var(--card-red);
}

.red {
    color: var(--card-red);
}

