
.field {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(40% 56% at 50% 35%, var(--table-color-1) 0%, var(--table-color-2) 22%, var(--table-color-3) 139.9%, var(--table-color-4) 140%, var(--table-color-4) 155.9%, var(--table-color-5) 156%, var(--table-color-6) 180%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nextGameTimer {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--white);
    z-index: 9999;
}

.timerCount {
    font-size: 2em;
    color: var(--gold);
    margin-top: 0.5em;
}

.handAndBet {
    display: flex;
}

.players {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.dealer {
    margin-top: 3em;
}


